body
{
  background:rgb(246, 246, 246);
}
.SignUp_button
{
    color:white;
    background:black;
  border-radius:50px;
  width:100px;
  height:50px;
  font-weight:bold;
  position:absolute;
  left: 95%;
  transform: translateX(-100%);
}
.Log_in
{
  font-weight:bold;
  float:right;
 width:100px;
 height:5px;
 position:absolute;
 left: 90%;
    transform: translateX(-100%);
}
.Search
{
  text-align:left;
  background:white;
  color:rgb(105, 105, 105);
  border-radius:50px;
  width:200px;
  height:50px;
  float:right;
  border:none;
  padding-left: 20px; 
 position:absolute;
 left: 80%;
    transform: translateX(-100%);
}
.LoGo
{
  margin-top:15px;
  width:105px;
  height:35px;
  position:absolute;
  left: 50%;
  transform: translateX(-100%);
}
div
{
  display:flex;
}
.position-left
{
  
  font-weight:bold;
  position:absolute;
}
