body
{
  background:rgb(246, 246, 246);
}
div
{
  display:flex;
}
.BigText1
{
  font-size: 4em;
  margin-left:22%;
  width:800px;
  height:20px;
}
.BigText2
{ margin-top:55px;
  font-size: 4em;
  margin-left:36%;
  width:500px;
  height:10px;
}
.SignUp_button
{
    color:white;
    background:black;
  border-radius:50px;
  width:100px;
  height:50px;
  font-weight:bold;
  position:absolute;
  left: 95%;
  transform: translateX(-100%);
  cursor: pointer;
}
.Start_button
{
  color:white;
    background:black;
  border-radius:50px;
  width:120px;
  height:50px;
  font-weight:bold;
  margin-left:42%;
  cursor: pointer;
}
.Log_in
{
  font-weight:bold;
  float:right;
 width:100px;
 height:5px;
 position:absolute;
 left: 90%;
    transform: translateX(-100%);
    cursor: pointer;
}
.Search
{
  text-align:left;
  background:white;
  color:rgb(105, 105, 105);
  border-radius:50px;
  width:200px;
  height:50px;
  float:right;
  border:none;
  padding-left: 20px; 
 position:absolute;
 left: 80%;
    transform: translateX(-100%);
    cursor: pointer;
}
.LoGo
{
  margin-top:15px;
  width:105px;
  height:35px;
  position:absolute;
  left: 50%;
  transform: translateX(-100%);
  cursor: pointer;
}
.position-left
{

  font-weight:bold;
  position:absolute;
  cursor: pointer;
}

.Notice
{
  margin-top: 150px;
  padding-top: 10px;
margin-left: 35%;
text-align:center;
  font-weight:bold;
  width:325px;
  height:25px;
  border-radius:50px;
  
  
  cursor: pointer;
}
.advice
{
  margin-left: 22%;
  margin-top:80px;
 font-size:18px;
  font-weight:bold;
}
